body {
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    font-family: 'Poppins', sans-serif;
}

/* Заголовки */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size:20px;
}

p {
    font-size: 16px;
}
/* Header */

.header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Nav */

.nav {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin: 0 0;
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 3px;
}

.nav-item:hover {
    color: #ff7b00;
    border: 2px solid #ff7b00;
    background-color:white;
}

.nav-item:hover:after {
    opacity: 0;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
}

/* Section-title */

.section-title-under {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.rectangle {
    position: relative;
}

.rectangle-width {
    object-fit: cover;
    width: 100%;
}


.name {
    position:relative;
    text-align:center;
    width: 340px;
}


.profile-text {
    position: absolute;
    top: -55px;
    right: 30px;
}

.profile-text-under {
    position: absolute;
    top: 12px;
    right: 40px;
}


.avatar {

}


html {
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 786px;
    margin: 0 auto;
}


.container-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Main */
.main {
    max-width: 786px;
    margin: 0 auto;
}


.contact-rect {
    width: 311px;
    height: 836px;
    background-image: url("./assets/img/contact.png");
}



.container-main {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

.section {

}

.section-text-contact {
    margin: 40px;

}



.profile {

}



#profile {
    
}


#contact {
    color: white;
    line-height: 33px;
}

.contact-website-link {
    text-decoration: none;
    color: white;
}

.contact-website-link:hover {
    text-decoration: none;
    color: #ff7b00;
}


#skills {
    color: white;
}


#languages {
    color: white;
}


#workexamples {
    color: white;
}


#workexperience {

}


/* About Myself */

.about-myself {
    width: 445px;
    height: 835px;
    background-image: url(/assets/img/rect2.png);
}


#aboutmyself {

}


#courses {

}


#education {

}


footer {
    max-width: 786px;
    margin: auto;
}

.footer {
    max-width: 786px;
    margin: 20px 0 0 0;
}




.container-flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
}